Repository bertrandgressier/adventure-hero: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

# Configuration Codecov pour Adventure Tome
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Configuration pour le projet complet
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
        if_ci_failed: error

    # Configuration pour le code modifié (patch)
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

# Configuration des commentaires sur les Pull Requests
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

# Ignore certains fichiers/dossiers
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/tests/**"
  - "**/__mocks__/**"
  - "**/coverage/**"
  - "vitest.config.ts"
  - "next.config.ts"
  - "tailwind.config.ts"
  - "postcss.config.mjs"

# Définition de flags pour séparer différents types de tests
flags:
  unit:
    paths:
      - src/domain/
      - src/application/
    carryforward: true
  
  integration:
    paths:
      - src/infrastructure/
      - src/presentation/
    carryforward: true

chore(release): 2.1.0 [skip ci]
  .env.production
  CHANGELOG.md
  CHANGELOG_USER.md
  package.json
Due: none

Notes added by 'git notes add'
  d59168560dd63c7ccdc47543e058826a5f2bcb98
Due: none

feat: add character notebook feature with persistence
  app/characters/[id]/page.tsx
  src/presentation/components/CharacterNotes.tsx
  tests/integration/character-flow.test.ts
Due: integration

feat: improve user changelog generation and link
  CHANGELOG_USER.md
  app/page.tsx
  scripts/generate-user-changelog.mjs
Due: none

chore(release): 2.2.0 [skip ci]
  .env.production
  CHANGELOG.md
  CHANGELOG_USER.md
  package.json
Due: none

Notes added by 'git notes add'
  596ab0ebfb1c6931eada0b0a8bba3c0e3ed345e3
Due: none

fix: correct user changelog generation regex for header levels
  CHANGELOG_USER.md
  scripts/generate-user-changelog.mjs
Due: none

fix(home): improve character list design for mobile
  app/characters/page.tsx
Due: none

fix(ui): update character detail stats to match home screen design
  src/presentation/components/CharacterProgress.tsx
  src/presentation/components/CharacterStats.tsx
  src/presentation/components/EditableStatField.tsx
Due: integration

fix(ui): improve visual distinction for critical health and death states
  src/presentation/components/CharacterStats.tsx
  src/presentation/components/EditableStatField.tsx
Due: integration

chore(release): 2.2.1 [skip ci]
  .env.production
  CHANGELOG.md
  CHANGELOG_USER.md
  package.json
Due: none

Notes added by 'git notes add'
  978926dc9e576be84b36b0a40e8a482ceed5da0e
Due: none

fix: use standard markdown list syntax in user changelog
  CHANGELOG_USER.md
  scripts/generate-user-changelog.mjs
Due: none

docs: add game modes and data migration architecture
  docs/ARCHITECTURE.md
Due: none

docs: add game modes and migration rules to copilot instructions
  .github/copilot-instructions.md
Due: none

feat(domain): add gameMode and version to Character entity
  src/domain/entities/Character.test.ts
  src/domain/entities/Character.ts
Due: unit

feat(infrastructure): add data migration system
  src/infrastructure/persistence/migrations.test.ts
  src/infrastructure/persistence/migrations.ts
Due: integration

feat(infrastructure): integrate auto-migration in repository
  src/infrastructure/repositories/IndexedDBCharacterRepository.ts
  tests/integration/data-migration.test.ts
Due: integration

feat(ui): add game mode selection in character creation
  app/characters/new/page.tsx
  app/characters/page.tsx
  src/application/services/CharacterService.test.ts
  src/application/services/CharacterService.ts
  src/infrastructure/dto/CharacterDTO.ts
  src/presentation/stores/slices/characterMutationSlice.ts
Due: unit, integration

feat(ui): display game mode badge on character list and detail pages
  app/characters/[id]/page.tsx
  app/characters/page.tsx
  components/ui/game-mode-badge.tsx
Due: none

feat(ui): add interactive game mode info dialog on character list
  app/characters/page.tsx
  components/ui/game-mode-badge.tsx
Due: none

feat(domain): add optional constitution stat for tome 2 & 3
  src/domain/entities/Character.test.ts
  src/domain/entities/Character.ts
  src/domain/value-objects/Stats.test.ts
  src/domain/value-objects/Stats.ts
  src/infrastructure/persistence/migrations.test.ts
  src/infrastructure/persistence/migrations.ts
  src/presentation/components/CharacterProgress.tsx
  src/presentation/components/CharacterStats.tsx
  src/presentation/components/EditableStatField.tsx
  tests/integration/data-migration.test.ts
Due: unit, integration

feat(ui): reorganize character stats layout
  src/presentation/components/CharacterStats.tsx
Due: integration

feat(ui): remove 'Caractéristiques' title from character detail page
  app/characters/[id]/page.tsx
Due: none

feat(data): migrate book from string to number + conditional Constitution display
  app/characters/new/page.tsx
  components/ui/book-tag.tsx
  src/application/services/CharacterService.ts
  src/domain/entities/Character.ts
  src/infrastructure/dto/CharacterDTO.ts
  src/infrastructure/persistence/migrations.ts
  src/presentation/components/CharacterProgress.tsx
  src/presentation/components/CharacterStats.tsx
  src/presentation/hooks/useCharacter.ts
  src/presentation/stores/slices/characterMetadataSlice.ts
  src/presentation/stores/slices/characterMutationSlice.ts
  tests/integration/data-migration.test.ts
Due: unit, integration

fix(lint): add eslint-disable for necessary any types in migrations
  src/infrastructure/persistence/migrations.ts
  tests/integration/data-migration.test.ts
Due: integration

fix(lint): ignore coverage and test-results in ESLint config
  eslint.config.mjs
Due: none

test: amélioration des tests de migration
  __mocks__/zustand/vanilla.ts
  src/domain/entities/Character.test.ts
  src/infrastructure/persistence/migrations.test.ts
Due: none

feat: add reputation system for Tome 2
  components/adventure/ReputationControl.tsx
  components/ui/label.tsx
  components/ui/slider.tsx
  package.json
  pnpm-lock.yaml
  src/domain/entities/Character.ts
  src/domain/value-objects/Stats.test.ts
  src/domain/value-objects/Stats.ts
  src/infrastructure/persistence/migrations.test.ts
  src/infrastructure/persistence/migrations.ts
  src/presentation/components/CharacterStats.tsx
  tests/integration/data-migration.test.ts
Due: unit, integration

refactor(inventory): remove item possession toggle feature
  .github/copilot-instructions.md
  docs/ARCHITECTURE.md
  src/application/services/CharacterService.test.ts
  src/application/services/CharacterService.ts
  src/domain/entities/Character.test.ts
  src/domain/entities/Character.ts
  src/domain/value-objects/Inventory.ts
  src/infrastructure/persistence/migrations.ts
  src/presentation/components/CharacterInventory.tsx
  src/presentation/hooks/useCharacter.ts
  src/presentation/stores/characterStore.test.ts
  src/presentation/stores/slices/characterInventorySlice.ts
  tests/integration/character-flow.test.ts
  tests/integration/data-migration.test.ts
Due: unit, integration

style(character-creation): improve mobile responsiveness
  app/characters/new/page.tsx
Due: none

fix: correct reputation initialization and serialization
  app/characters/new/page.tsx
  src/domain/entities/Character.ts
  src/domain/value-objects/Stats.ts
  src/infrastructure/persistence/migrations.ts
  src/presentation/components/CharacterStats.tsx
  tests/integration/data-migration.test.ts
Due: unit, integration

fix: improve mobile responsiveness for book selection dialog
  src/presentation/components/CharacterProgress.tsx
Due: integration

fix: improve mobile responsiveness for Combat and Dice buttons
  app/characters/[id]/page.tsx
Due: none

fix: add aria-describedby to DialogContent for accessibility compliance
  components/adventure/CombatEndModal.tsx
  components/adventure/CombatInterface.tsx
  components/adventure/CombatSetup.tsx
  components/character/AddItemModal.tsx
  components/character/AddWeaponModal.tsx
  components/character/DiceRoller.tsx
  src/presentation/components/CharacterProgress.tsx
Due: integration

fix: replace emoji + buttons with lucide-react Plus icon
  src/presentation/components/CharacterInventory.tsx
  src/presentation/components/CharacterWeapon.tsx
Due: integration

fix: replace "Modifier" text with Pencil icon in CharacterNotes
  src/presentation/components/CharacterNotes.tsx
Due: integration

feat: add time tracking for Tome 2 (days elapsed and next wake up)
  app/characters/[id]/page.tsx
  src/application/services/CharacterService.ts
  src/domain/entities/Character.ts
  src/infrastructure/persistence/migrations.ts
  src/presentation/components/CharacterTimeTracking.tsx
  src/presentation/hooks/useCharacter.ts
  src/presentation/stores/slices/characterMetadataSlice.ts
  tests/integration/data-migration.test.ts
Due: unit, integration

fix: improve time tracking gauge UX
  src/presentation/components/CharacterTimeTracking.tsx
Due: integration

feat: make day circles clickable in time tracking gauge
  src/presentation/components/CharacterTimeTracking.tsx
Due: integration
